{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
    {% trans "تایید بازنشانی رمز عبور" %}
{% endblock %}

{% block content %}
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="page-content-inner pt--75 pb--80">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="reset-password-box text-center">
                            <h3 class="heading__tertiary mb--30">{% trans "رمز عبور جدید خود را وارد کنید" %}</h3>
                            <form method="post" action="">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="{% trans 'ذخیره رمز عبور جدید' %}" class="btn-submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}