{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}  <!-- برای ترجمه‌ها از این تگ استفاده می‌کنیم -->
{% load crispy_forms_tags %}

{% block title %}
    {% trans "درباره ما" %}
{% endblock %}

{% block content %}
<head>
    <!-- Add this inside your <head> section -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
  <!-- Breadcrumb area Start -->
  <div class="breadcrumb-area bg-color ptb--90" data-bg-color="#f6f6f6">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
                    <h1 class="page-title">تماس با ما</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb area End -->


   <!-- Main Content Wrapper Start -->
   <div id="content" class="main-content-wrapper">
    <div class="page-content-inner pt--75">
        <div class="container">
            <div class="row pb--80"> 
                <div class="col-md-7 mb-sm--30">
                    <h2 class="heading__secondary mb--50 mb-md--35 mb-sm--20">پیام خود را به ما بگویید</h2>

                    <!-- Contact form Start Here -->
                    <form class="form" action="" id="contact-form" method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button type="submut" class="btn-submit">ارسال</button>

                        {% comment %} <div class="form__group mb--20">
                            <input type="text" id="contact_name" name="name" class="form__input form__input--2" placeholder="نام*">
                        </div>
                        <div class="form__group mb--20">
                            <input type="email" id="contact_email" name="email" class="form__input form__input--2" placeholder="ایمیل*">
                        </div>
                        <div class="form__group mb--20">
                            <input type="text" id="contact_phone" name="phone" class="form__input form__input--2" placeholder="شماره تماس*">
                        </div>
                        <div class="form__group mb--20">
                            <textarea class="form__input form__input--textarea" id="contact_message" name="body" placeholder="پیام شما*"></textarea>
                        </div>
                        <div class="form__group">
                            <button type="submut" class="btn-submit">ارسال</button>
                        </div>
                        <div class="form__output"></div> {% endcomment %}
                    </form>
                    <!-- Contact form end Here -->

                </div>
                <div class="col-md-5 pl--50 pl-sm--30">
                    <h2 class="heading__secondary mb--50">اطلاعات تماس</h2>
                    
                    <!-- Contact info widget start here -->
                    <div class="contact-info-widget mb--45">
                        <div class="contact-info">
                            <h3 class="heading__tertiary">آدرس پستی</h3>
                            <p>مکانی در خیابان کوچه فلان <br> ایران لرستان </p>
                        </div>
                    </div>
                    <!-- Contact info widget end here -->

                    <!-- Contact info widget start here -->
                    <div class="contact-info-widget mb--45">
                        <div class="contact-info">
                            <h3 class="heading__tertiary"> فروشگاه من</h3>
                            <p>مکانی در خیابان کوچه فلان <br> ایران لرستان </p>
                        </div>
                    </div>
                    <!-- Contact info widget end here -->

                    <!-- Contact info widget start here -->
                    <div class="contact-info-widget two-column-list sm-one-column mb--45">
                        <div class="contact-info mb-sm--35">
                            <h3 class="heading__tertiary">شماره تماس</h3>
                            <a href="">09339796368</a>
                        </div>
                        <div class="contact-info">
                            <h3 class="heading__tertiary">ایمیل</h3>
                            <a href="mailto:info@la-studioweb.com">abolfazlking22@gmail.com</a>
                        </div>
                    </div>
                    <!-- Contact info widget end here -->

                    <!-- Social Icons Start Here -->
                    <ul class="social social-sharing">
                        <li class="social__item">
                            <a href="https://instagram.com/abolfazl.mohammadyi" class="social__link instagram" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    
                    <!-- Social Icons End Here -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Content Wrapper Start -->
{% endblock %}
